<!--
<div>{{ mensaje }}</div>
<div *ngIf="activo">Componente activo</div>
<div *ngIf="!activo">Componente inactivo</div>
<button (click)="toggleActivo()">Cambiar</button>
<div>
  <ol>
    <li *ngFor="let nombre of lista">{{nombre}}</li>
  </ol>
</div>
-->
<div style="text-align: right;">
  <button mat-raised-button color="secondary" [routerLink]="['create']">Agregar</button>
</div>

<table mat-table [dataSource]="listaVehiculos" class="mat-elevation-z8">
  <ng-container matColumnDef="placas">
    <th mat-header-cell *matHeaderCellDef> Placas:  </th>
    <td mat-cell *matCellDef="let c"> {{ c.placas }} </td>
  </ng-container>

  <ng-container matColumnDef="marca">
    <th mat-header-cell *matHeaderCellDef> Marca:  </th>
    <td mat-cell *matCellDef="let c"> {{ c.marca }} </td>
  </ng-container>

  <ng-container matColumnDef="modelo">
    <th mat-header-cell *matHeaderCellDef> Modelo:  </th>
    <td mat-cell *matCellDef="let c"> {{ c.modelo }} </td>
  </ng-container>

  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef> Color:  </th>
    <td mat-cell *matCellDef="let c"> {{ c.color }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!--
<div>
  <table>
    <thead>
      <th>Placas</th>
      <th>Modelo</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let v of listaVehiculos">
        <td>{{ v.placas }}</td>
        <td>{{ v.marca }} / {{ v.modelo }}</td>
        <td><a [routerLink]="[v.placas]">Ver detalle</a></td>
      </tr>
    </tbody>
  </table>
</div>
-->
