<!--
<div>{{ mensaje }}</div>
<div *ngIf="activo">Componente activo</div>
<div *ngIf="!activo">Componente inactivo</div>
<button (click)="toggleActivo()">Cambiar</button>
<div>
  <ol>
    <li *ngFor="let nombre of lista">{{nombre}}</li>
  </ol>
</div>
-->
<div>
  <table>
    <thead>
      <th>Placas</th>
      <th>Modelo</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let v of listaVehiculos">
        <td>{{ v.placas }}</td>
        <td>{{ v.marca }} / {{ v.modelo }}</td>
        <td><a [routerLink]="v.placas">Ver detalle</a></td>
      </tr>
    </tbody>
  </table>
</div>
